version: '3'
services:
  zookeeper1:
    image: confluentinc/cp-zookeeper:latest
    ports:
      - "32181:32181"
    links: 
      - zookeeper2
    environment:
      ZOOKEEPER_SERVER_ID: 1      
      ZOOKEEPER_CLIENT_PORT: "32181"
      ZOOKEEPER_TICK_TIME: "2000"
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper1:12888:13888;zookeeper2:22888:23888

  zookeeper2:
    image: confluentinc/cp-zookeeper:latest
    ports:
      - "32182:32182"
    environment:
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_CLIENT_PORT: "32182"
      ZOOKEEPER_TICK_TIME: "2000"
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper1:12888:13888;zookeeper2:22888:23888

  kafka1:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper1
      - zookeeper2
    ports:
      - "9091:9091"
      - "31001:31001"
    links:
      - zookeeper1
      - zookeeper2
    environment:
      KAKFA_BROKER_ID: "1"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL_PLAINTEXT1://kafka1:9091,EXTERNAL_PLAINTEXT1://kafka1.aws.thecloudgarage.com:31001"
      KAFKA_LISTENERS: "INTERNAL_PLAINTEXT1://0.0.0.0:9091,EXTERNAL_PLAINTEXT1://0.0.0.0:31001"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL_PLAINTEXT1:PLAINTEXT,EXTERNAL_PLAINTEXT1:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL_PLAINTEXT1"
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper1:32181,zookeeper2:32182"

  kafka2:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper1    
      - zookeeper2
      - kafka1
    ports:
      - "9092:9092"
      - "31002:31002"
    links:
      - kafka1
      - zookeeper1
      - zookeeper2
    environment:
      KAKFA_BROKER_ID: "2"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL_PLAINTEXT2://kafka2:9092,EXTERNAL_PLAINTEXT2://kafka2.aws.thecloudgarage.com:31002"
      KAFKA_LISTENERS: "INTERNAL_PLAINTEXT2://0.0.0.0:9092,EXTERNAL_PLAINTEXT2://0.0.0.0:31002"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL_PLAINTEXT2:PLAINTEXT,EXTERNAL_PLAINTEXT2:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL_PLAINTEXT2"
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper1:32181,zookeeper2:32182"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.1
    depends_on:
      - zookeeper1
      - zookeeper2
      - kafka1
      - kafka2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - cluster.routing.allocation.disk.threshold_enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1

  kibana:
    image: docker.elastic.co/kibana/kibana:7.6.1
    links:
      - elasticsearch
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200/
      XPACK_SECURITY_ENABLED: "true"

  kafka-connect:
    image: confluentinc/cp-kafka-connect:latest
    ports:
      - "8083:8083"
    links:
      - elasticsearch
      - kafka1
      - kafka2
      - zookeeper1
      - zookeeper2
    depends_on:
      - zookeeper1
      - kafka1
      - zookeeper2
      - kafka2
      - elasticsearch
    volumes:
      - $PWD/connect-plugins:/connect-plugins
    environment:
      CONNECT_BOOTSTRAP_SERVERS: "kafka1:9091"
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: "connect"
      CONNECT_CONFIG_STORAGE_TOPIC: connect-config
      CONNECT_OFFSET_STORAGE_TOPIC: connect-offsets
      CONNECT_STATUS_STORAGE_TOPIC: connect-status
      CONNECT_REPLICATION_FACTOR: 1
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_KEY_CONVERTER: "org.apache.kafka.connect.storage.StringConverter"
      CONNECT_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "false"
      CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_PRODUCER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor"
      CONNECT_CONSUMER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor"
      CONNECT_REST_ADVERTISED_HOST_NAME: "connect"
      CONNECT_PLUGIN_PATH: /connect-plugins
      CONNECT_LOG4J_ROOT_LOGLEVEL: INFO
      CONNECT_LOG4J_LOGGERS: org.reflections=ERROR
      CLASSPATH: /usr/share/java/monitoring-interceptors/monitoring-interceptors-3.3.0.jar


  kafka-rest-proxy:
    image: confluentinc/cp-kafka-rest:latest
    hostname: kafka-rest-proxy
    ports:
      - "8082:8082"
    depends_on:
      - zookeeper1
      - kafka1
      - zookeeper2
      - kafka2
    links:
      - zookeeper1
      - zookeeper2
      - kafka1
      - kafka2
    environment:
      KAFKA_REST_HOST_NAME: kafka-rest-proxy
      KAFKA_REST_BOOTSTRAP_SERVERS: "INTERNAL_PLAINTEXT1://kafka1:9091,INTERNAL_PLAINTEXT2://kafka2:9092"
      KAFKA_REST_LISTENERS: 'http://kafka-rest-proxy:8082'

  kafka-topics-ui:
    image: landoop/kafka-topics-ui:latest
    depends_on:
      - zookeeper1
      - kafka1
      - zookeeper2
      - kafka2
      - kafka-rest-proxy
    links:
      - zookeeper1
      - zookeeper2
      - kafka1
      - kafka2
      - kafka-rest-proxy
    ports:
      - "8000:8000"
    environment:
      KAFKA_REST_PROXY_URL: 'kafka-rest-proxy:8082'
      PROXY: "true"

  kafka-connect-ui:
    image: landoop/kafka-connect-ui:latest
    depends_on:
      - zookeeper1
      - kafka1
      - zookeeper2
      - kafka2
      - kafka-connect
    links:
      - zookeeper1
      - zookeeper2
      - kafka1
      - kafka2
      - kafka-connect
    ports:
      - "8001:8000"
    environment:
      CONNECT_URL: 'kafka-connect:8083'

  postgresql-order:
    build: postgresql-order
    ports:
      - "31011:5432"
    environment:
      POSTGRES_PASSWORD: dbpass
      POSTGRES_USER: dbuser

  postgresql-shipping:
    build: postgresql-shipping
    ports:
      - "31012:5432"
    environment:
      POSTGRES_PASSWORD: dbpass
      POSTGRES_USER: dbuser

  postgresql-invoicing:
    build: postgresql-invoicing
    ports:
      - "31013:5432"
    environment:
      POSTGRES_PASSWORD: dbpass
      POSTGRES_USER: dbuser
